p#notice= notice
p
  strong Title:
  = @post.title
p
  strong Posted:
  = @post.posted
p
  strong Author:
  = @post.author
p
  strong Body:
  = @post.body.html_safe

.btn-group
  = link_to 'Edit', edit_post_path(@post), class: "btn btn-lg btn-info"
  = link_to 'Back', posts_path, class: "btn btn-lg btn-default"
  = link_to "Delete", @post, :method => :delete, class: "btn btn-lg btn-danger"