$link_color   : #781900;
$toffee_brown : #B0946C;

body {
  font-family  : 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
  font-size    : 16px;
  font-style   : normal;
  font-variant : normal;
  font-weight  : normal;
}

a {
  color : $toffee_brown;
  &:hover {
    color : #4A3E2D;
  }
}

h1, h2 {
  a {
    &:hover, &:focus { color : $link_color }
    color : $link_color;
  }
}

p { font-size : 20px; }
