$link_color   : #781900;
$toffee_brown : #B0946C;

.container {
    max-width: 750px;
}

body {
  font-family  : 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
  font-size    : 16px;
  font-style   : normal;
  font-variant : normal;
  font-weight  : normal;
}

a {
  color : $toffee_brown;
  &:hover {
    color : #4A3E2D;
  }
}

h1, h2 {
  a {
    &:hover, &:focus { color : $link_color }
    color : $link_color;
  }
}

p { font-size : 20px; }

#textured-container {
  background     : url(/assets/sos.png);
  border-radius  : 2px;
  box-shadow     : 0px 1px 8px #888888;
  margin-bottom  : 60px;
  margin-left    : auto;
  margin-right   : auto;
  margin-top     : 80px;
  min-height     : 700px;
  padding        : 40px;
  padding-bottom : 10px;
  padding-top    : 10px;
}

a { color: #781900; }

p {
  font-size : 14px;
}

h1 {
    font-weight: 600;
    font-size  : 50px;
}

@media (max-width: 520px) {
  h1 {
    font-size : 40px;
  }
}

h3 {
  font-weight: 200;
  line-height: 1.4;
  border-bottom: solid 1px;
}