.video-container {
    height         : 0;
    margin-bottom  : 30px;
    overflow       : hidden;
    padding-bottom : 56.25%;
    padding-top    : 30px;
    position       : relative;
}

.video-container iframe,
.video-container object,
.video-container embed {
    height   : 100%;
    left     : 0;
    position : absolute;
    top      : 0;
    width    : 100%;
}