@import url(http://fonts.googleapis.com/css?family=Montserrat+Subrayada);

$coffee_brown : #331400;

.jumbotron#grndz-blog-jumbotron {
  background     : #FFF;
  border-bottom  : 2px solid;
  border-color   : $coffee_brown;
  margin-bottom  : 0px;
  margin-top     : 50px;
  padding-bottom : 15px;
  padding-top    : 0px;

  h1 {
    font-family     : 'Montserrat Subrayada', sans-serif;
  }
}
