$coffee_brown : #847266;
$toffee_brown : #B0946C;

.navbar {
  border: 0;
  background-color : $coffee_brown;
  border-radius    : 0;
  box-shadow       : 0px 1px 6px #888888;

  li.active a {
    background-color : #330005 !important;
    color            : #ddd !important;
  }

  li a { color : #332d00 !important; }
  li.inactive a { color : #332d00 !important; }

  .anti-decoration {
    color           : $toffee_brown;
    text-decoration : none;
  }

  .glyphicon.glyphicon-leaf {
    color     : #332d00;
    font-size : 20px;
    top       : -1px;
  }
}

